<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Basic Page Needs
    ================================================== -->
    <meta charset="utf-8">
    <!--[if IE]><meta http-equiv="x-ua-compatible" content="IE=9" /><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ViviPlan</title>
    <meta name="description" content="insert tags here">
    <meta name="keywords" content="insert tags here">
    <meta name="author" content="insert tags here">
  </head>
  <%= stylesheet_link_tag "icons/icons" %>
 <body>
 </body>